:root {
    --main-text-color: rgb(255, 254, 234);
    --main-bg-color: rgb(50, 100, 118);
    --main-header-color: rgb(0, 35, 51);
    --main-neon: 5px 2px 30px lightyellow;
    --main-reflection: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.15));
  }  

body {
    margin: auto;
    padding: 0;
    font-family: 'Montserrat', 'Arial', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    font-size: 20px;
}

body::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background-color: var(--main-header-color);       /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);  /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid var(--main-header-color);  /* padding вокруг плашки */
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: bold;
}

a:hover {
    color: yellow;
}

li {
    list-style-type: none;
}

.fi {
    font-size: 20px;
    padding-right: 20px;
}

.header-nav {
    float: left;
    position: fixed;
    background-color: var(--main-header-color);
    height: 100vh;
    width: 200px;
    line-height: 100px;
    font-size: 15px;
    z-index: 99;
}

.nav-button {
    background-color: var(--main-header-color);
    border: 0;
    color: var(--main-text-color);
}

.nav-button:hover {
    color: yellow;
}

.nav-a {
    padding-left: 20px;
}

.nav-logout {
    margin-top: auto;
}

.nav-button-border {
    border-bottom: 2px solid var(--main-text-color);
}

.nav-a-active {
    background-color: rgb(50, 120, 118);
}

.main {
    margin-left: 70px;
}

.carousel-inner {
    height: 100vh;
}


.carousel-div {
    display: flex;
}

.carousel-h1 {
    margin: auto;
    font-size: 50px;
    -webkit-box-reflect: var(--main-reflection);
}

.carousel-caption {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-img {
    height: 100%;
}

.carousel-h2 {
    letter-spacing: 20px;
    font-size: 50px;
}

.tickets {
    height: 100%;
    background: url("img/concert.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.tickets-div-h2 {
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1em;
}

.tickets-div-h2 h2 {
    -webkit-box-reflect: var(--main-reflection);
}

.ticket-author {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
}

.ticket-last {
    padding-bottom: 100px
}

.author-div-img {
    width: 300px;
    height: 300px;
}

.author-div-img img {
    border-radius: 50%;
}

.author-div-text {
    width: 300px;
    height: 150px;
    line-height: 50px;
}

.author-div-text h3 {
    text-shadow: var(--main-neon);
}

.author-div-text p {
    font-style: italic;
    line-height: normal;
}

.author-div-a {
    width: 150px;
    padding: 15px 40px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(4, 38, 71), black);
}

.main-profile {
    height: 100vh;
    background: url("img/concert.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
}

.profile-text {
    padding-left: 350px;
    line-height: 100px;
}

.profile-img img {
    border-radius: 50%;
}

.profile-text, .profile-img {
    padding-top: 200px;
}

.profile-text h2 {
    text-decoration: underline;
    font-weight: bold;
}


.footer {
    margin-left: 70px;
    height: 50px;
}

.footer-section {
    width: 100%;
}

.section-links {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.section-links span {
    padding: 20px;
}

.fi {
    padding: 0;
}

.section-links i {
    font-size: 35px;
}

.section-img {
    float: right;
}



.background {
    text-shadow: 5px 2px 30px lightyellow;
    text-align: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    background: url("untitled folder 3/wp5169637.jpg") no-repeat;
    background-attachment: fixed;
}

.h1 {
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.p {
    text-shadow: 5px 2px 30px lightyellow;
    font-size: 18px;
    text-align: left;
    margin-top: 50px;
    padding: 0 40px;
}

.album-row {
    text-shadow: 5px 2px 30px lightyellow;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
}

.h4 {
    font-weight: bold;
}

.album {
    text-align: center;
    flex-basis: 23%;
    font-size: 12px;
}

.album img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.09));
}

.album p {
    margin-top: 16px;
}

.img-with-text {
    display: flex;
    align-items: center;
}

.img-with-text img {
    height: auto;
    width: 500px;
    margin-top: 20px;
    padding: 0 100px;
    border-radius: 50%;
}

.img-with-text p {
    text-align: left;
}


hr {
    border: none;
    background-color: lightyellow;
    color: lightyellow;
    height: 1px;
}

.tour {
    padding-top: 50px;
    text-align: center;
    display: flex;
    grid-column: span;
    width: 50%;
    margin: auto;
}

.tour span {
    margin-bottom: 40px;
}

.tour a {
    margin: auto;
}

.form {
    background: url("img/concert.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.form li {
    list-style-type: disc;
    text-transform: none;
}

.form-h1 {
    text-align: center;
}

.form-section {
    width: 50vw;
    margin: auto;
}

.form input {
    width: 500px;
}

.form-inputs {
    margin-top: 50px;
    padding-bottom: 25px;
}
